biomni
pandas
numpy
python-dotenv
tqdm
pydantic>=2
requests
langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-aws
langchain-groq
langchain-ollama
matplotlib
seaborn
sqlalchemy
langgraph
nest_asyncio
mcp
galaxy-mcp
scikit-learn